.toggle {
    cursor: pointer;
    width: 100px;
    height: 50px;
    background: #ccc;
    padding: 5px;
    border-radius: 100rem;
    margin: 25px;
}

.toggle.active {
    background: #F62682;
}

.spinner {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100rem;
    transition: all 0.3 linear;
}

.spinner.active {
    transform: translateX(50px);
}

.toggle-control {
    display: flex;
    gap: 10px;
}

.toggle-control>* {
    cursor: pointer;
}